<div>
    <div class="container">
        <div class="jumbotron">
            <p>Web API file uploading using AngularJs client.</p>
        </div>
        <div ng-include="'../Scripts/app/templates/fileUpload.html'"></div>
    </div>

</div>
